[defaults]
callback_result_format = yaml
collections_path = .collections:/usr/local/lib/python3.11/site-packages/ansible_collections
deprecation_warnings = false
display_skipped_hosts = false
gathering = explicit
interpreter_python = auto_silent
log_path = /var/log/ansible.log

[connection]
pipelining = true
